.image {
    width: 100%;
    height: 100%;

}

img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 100px;
}

body {
    background-color: rgba(97, 83, 221, 0.541);
}

h1 {
    color:rgb(20, 2, 2);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.class_1, .class_2{
    background-color: rgb(235, 244, 247);
}
